@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background: #3c3a39;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  padding: 12px 24px 12px 24px;
}

.logo {
  display: flex;
  padding: 12px 24px 12px 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.headline {
  background-color: #1c1a19;
  height: 100vh;
  background-image: url(src/illustration-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 100% 55%;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  padding: 120px 24px 0 24px;
  margin: 0;
  font-weight: normal;
}

h2 {
  color: #fff5e1;
  padding: 12px 24px 0 24px;
  margin: 0;
  font-family: Roboto, sans-serif;
}

p {
  color: #fff;
  padding: 12px 24px 0 24px;
  margin: 0;
  font-family: poppins, sans-serif;
}

ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
  padding: 12px 24px 0 24px;
  margin: 0;
}

li {
  padding: 8px;
}

i {
  color: white;
  font-size: 24px;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #e5e5e5;
  min-height: 100vh;
  width: 100%;
  grid-template-areas: 
  "Work-start"
  "."
  "."
  "."
  "."
  "."
  ".";
}

.works1 {
  display: flex;
  flex-direction: column;

}

h3 {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  margin: 15.5px 24px 0 24px;
  padding: 120px 0 15.5px 0;
  border-bottom: 1px solid #212121;
}

.img-works {
  padding: 88.5px 24px 0 24px;
}

h4 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  padding: 24px 24px 0 24px;
  margin: 0;
}

.p-work {
  font-family: Inter, sans-serif;
  color: #091e42;
}

.li2 {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin: 0 12px 0 0px;
}

.see-project-btn {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
  background-color: #ff6b00;
  padding: 12px;
  margin-top: 12px;
  margin-left: 24px;
  width: 124px;
  height: 48px;
  border: none;
}