@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background: #3c3a39;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.icon {
  display: flex;
  padding: 12px 24px 12px 24px;
}

li {
  padding: 8px;
}

.nav-ul li {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  margin: 0 6px;
}

.logo {
  padding: 12px 24px 12px 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.headline {
  background-color: #1c1a19;
  height: 100vh;
  background-image: url(src/illustration-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 100% 55%;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  padding: 120px 24px 0 24px;
  margin: 0;
  font-weight: normal;
}

.headline-title {
  color: #fff5e1;
  padding: 12px 24px 0 24px;
  margin: 0;
  font-family: Roboto, sans-serif;
}

p {
  color: #fff;
  padding: 12px 24px 0 24px;
  margin: 0;
  font-family: poppins, sans-serif;
}

ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
  padding: 12px 24px 0 24px;
  margin: 0;
}

i {
  color: white;
  font-size: 24px;
}

.works {
  display: grid;
  background-color: #e5e5e5;
  width: 100%;
}

.works-title {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  margin: 15.5px 24px 0 24px;
  padding: 120px 0 15.5px 0;
  border-bottom: 1px solid #212121;
}

h3 {
  margin: 0;
}

.works-title-2 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  padding: 24px 24px 0 24px;
  margin: 0;
  color: #091e42;
}

.img-works {
  padding: 88.5px 24px 0 24px;
}

.p-work {
  font-family: Inter, sans-serif;
  color: #091e42;
}

.li2 {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin: 0 12px 0 0;
}

.see-project-btn {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #081f43;
  background-color: #ff6b00;
  padding: 12px;
  margin-top: 12px;
  margin-left: 24px;
  width: 124px;
  height: 48px;
  border: none;
}

.Project-1,
.Project-2,
.Project-3,
.Project-4,
.Project-5,
.Project-6 {
  display: flex;
  position: relative;
  margin: 24px;
  flex-direction: column;
  background-image: url(src/bg-project.svg);
  background-repeat: no-repeat;
  background-size: 180%;
  justify-content: flex-end;
  background-position: center;
}

.title-p {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
  margin: 84px 16px 0 16px;
  padding: 0;
}

.p-Project {
  margin: 12px 16px 0 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.ul-p {
  margin: 12px 0 0 16px;
  padding: 0;
}

.li-p {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

.btn-p {
  width: 100%;
  height: 48px;
  margin: 12px 0 0 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #081f43;
  background-color: #ff6b00;
  border: none;
}

.about-me {
  background-color: #1c1a19;
  background-image: url(src/illustration-about-me-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top 20%;
}

.about-me-title {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  padding: 120px 24px 0 24px;
  margin: 0;
}

.about-me-p {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding: 24px;
  width: 327px;
}

.about-me-btn {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #081f43;
  background-color: #ff6b00;
  border: 1px solid #ff6b00;
  margin-left: 24px;
  padding: 12px;
}

.solid {
  margin: 180px 24px 128px 24px;
  border-top: 0;
}

.square {
  margin-top: 0;
  margin-left: 0;
  width: 18px;
  height: 18px;
  align-self: center;
}

.about-me-ul {
  flex-direction: column;
  justify-content: space-around;
}

.about-me-li {
  color: white;
  align-self: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 42.67px;
}

.language-list {
  justify-content: center;
  list-style-image: url(src/Rectangle-1.svg);
  padding: 0;
}

.frameworks-list {
  justify-content: center;
  list-style-image: url(src/Rectangle-2.svg);
  padding: 0;
}

.skills-list {
  justify-content: center;
  list-style-image: url(src/Rectangle-3.svg);
  padding: 0;
}

.about-me-title-ul {
  font-family: InaiMathi, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  padding: 0 0 0 12px;
  color: #fff;
  border: none;
}

.ul-margin {
  padding-bottom: 120px;
}

.see-project-btn:hover,
.btn-p:hover,
.about-me-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #081f43;
}

.see-project-btn:active,
.btn-p:active,
.about-me-btn:active {
  background-color: #e05304;
  color: #081f43;
  border: none;
}

.see-project-btn:disabled,
.btn-p:disabled,
.about-me-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

button {
  transition: background-color 0.5s;
}

.Project-1:hover,
.Project-2:hover,
.Project-3:hover,
.Project-4:hover,
.Project-5:hover,
.Project-6:hover {
  transition: 1s;
  background-size: 200%;
}

.footer {
  padding: 120px 24px 0 24px;
}

.footer-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.footer form {
  display: flex;
  flex-direction: column;
}

.footer form input {
  border: none;
  box-sizing: border-box;
  border-bottom: solid 1px #dbd8d7;
  margin-bottom: 24px;
  padding: 15px 16px;
  height: 48px;
}

.footer form textarea {
  height: 114px;
  padding: 12px;
  border: none;
  box-sizing: border-box;
  background-color: #fbf8f7;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.footer form input:hover,
.footer form textarea:hover {
  transition: 0.5s;
  padding-left: 25px;
}

.footer form input::placeholder {
  color: #979493;
}

.footer form textarea::placeholder {
  color: #3c3a39;
}

.footer form button {
  width: initial;
  align-self: center;
  padding: 12px;
  margin-top: 24px;
}

.hr-footer {
  margin-block: 124px 15px;
  border: none;
  color: #dfe1e6;
  height: 1px;
  background-color: #dfe1e6;
}

.social-footer {
  padding-top: 0;
  justify-content: center;
  margin-bottom: 26px;
  position: relative;
}

.social-footer::after {
  content: ' ';
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  position: absolute;
  bottom: 8px;
  margin-bottom: -26px;
}

.social-footer i {
  color: #505f79;
}

@media screen and (min-width: 992px) {
  .header {
    height: 72px;
  }

  .icon {
    display: none;
  }

  .nav-ul {
    margin: 0 142px 0 0;
    padding: 16px 0;
  }

  .logo {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 12px;
    margin: 16px 0 16px 142px;
  }

  .headline {
    background-image: url(src/Illustration-header.svg);
    display: flex;
  }

  .headline-div {
    order: 1;
  }

  .headline-social-div {
    width: 143px;
  }

  h1 {
    padding: 192px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 81px;
  }

  .headline-title {
    padding-left: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .headline p {
    padding-left: 0;
    width: 566px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
  }

  .headline ul {
    float: left;
    flex-direction: column;
    margin-top: 300px;
    max-width: min-content;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:

      "work-start"
      "project-container";
  }

  .work-start {
    margin: 0 141px;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "project-1 project-2 project-3"
      "project-4 project-5 project-6";
    margin: 0 141px;
  }

  .Project-1,
  .Project-2,
  .Project-3,
  .Project-4,
  .Project-5,
  .Project-6 {
    margin: 0 24px 24px 0;
  }

  .img-works {
    min-width: 50%;
    max-width: 684px;
    height: auto;
    float: left;
    padding-top: 114px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  .works-info {
    display: flex;
    flex-direction: column;
    padding-top: 114px;
  }

  .p-work {
    min-width: 414px;
    max-width: 448px;
    padding: 0;
    margin-top: 24px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .works-title {
    border: none;
    min-width: 314px;
  }

  .works-title-2 {
    padding: 0;
    font-size: 40px;
    line-height: 52px;
  }

  .works-info ul {
    padding: 0;
    margin-top: 24px;
  }

  .see-project-btn {
    padding: 0;
    margin: 24px 0;
  }

  .works-title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .border-work {
    border-bottom: 1px solid #606163;
    width: 80%;
  }

  .about-me {
    background-image: url(src/illustration-about\ me.svg);
    background-position: right top 8%;
    padding: 0 142px 0 142px;
  }

  .about-me-p {
    min-width: 40%;
    max-width: 566px;
    font-size: 20px;
    line-height: 32px;
  }

  .about-me-ul-container {
    display: flex;
    justify-content: space-between;
  }

  .about-me-title-div {
    justify-content: flex-start;
  }

  .language-list {
    justify-content: flex-start;
  }

  .frameworks-list {
    justify-content: flex-start;
  }

  .skills-list {
    justify-content: flex-start;
  }

  .about-me-ul {
    width: 282px;
    padding-right: 0;
    padding-left: 0;
  }

  .about-me-li {
    align-self: flex-start;
  }

  .about-me-title {
    line-height: 81px;
  }

  .footer {
    display: flex;
    padding: 130px 142px 0 142px;
  }

  .footer-title {
    text-align: start;
    min-width: 400px;
    max-width: 455px;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
  }

  .footer form {
    width: 100%;
  }

  .footer form button {
    align-self: flex-start;
  }

  .social-footer::after {
    display: none;
  }
}

/* Mobile Menu */
.m-menu {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #3c3a39;
  overflow-x: hidden;
  transition: 0.5s;
}

.m-menu-content {
  margin: 100px 0 0 0;
  padding: 0 24px 0 24px;
}

.m-menu-content a {
  padding: 24px 0 15px 16px;
  text-decoration: none;
  font-size: 32px;
  color: #fff5e1;
  display: block;
}

.m-menu .closebtn {
  position: absolute;
  top: 62px;
  font-size: 32px;
  text-decoration: none;
  color: #fff5e1;
  right: 38px;
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 992px) {
  .nav-ul {
    display: none;
  }
}
